{{ define "account_details.html" }}

<div class="flex flex-col md:gap-6">
    <!-- Ledgers Section -->
    <div class="md-card md-shadow-1 mb-6">
        <div class="md-card-header flex justify-between items-center p-4">
            <h2 class="headline-small">Ledgers</h2>
            <button 
                hx-get="/page/accounts/{{.Account.ID}}/ledgers/create" 
                hx-target="#create-ledger-modal" 
                hx-swap="innerHTML" 
                class="md-btn md-btn-filled">
                <span class="material-symbols-outlined mr-2">add</span>New Ledger
            </button>
        </div>
        <div id="create-ledger-modal"></div>
        <div id="ledger-list" hx-get="/page/accounts/{{.Account.ID}}/ledgers" hx-trigger="load, reloadLedgers from:body"></div>
    </div>

    <!-- Bank Account Section -->
    <div class="w-full">
        {{ template "bank_account_card.html" . }}
    </div>
</div>

{{ end }}