{{ define "create_account.html" }}
<div class="md-dialog-container active" id="create-account-modal-content">
    <div class="md-dialog">
        <div class="md-dialog-title">
            Create New Account
        </div>
        <div class="md-dialog-content">
            <form hx-post="/accounts" hx-on::after-request="closeCreateAccountModal()">
                <div class="md-text-field md-text-field-outlined mb-4">
                    <input
                        type="text"
                        name="name"
                        id="name"
                        required
                        placeholder=" "
                    />
                    <label for="name">Name</label>
                </div>
                
                <div class="md-text-field md-text-field-outlined mb-4">
                    <input
                        type="text"
                        name="currency"
                        id="currency"
                        required
                        placeholder=" "
                    />
                    <label for="currency">Currency</label>
                </div>
            
                <div class="md-dialog-actions">
                    <button type="button" class="md-btn md-btn-text" onclick="closeCreateAccountModal()">Cancel</button>
                    <button type="submit" class="md-btn md-btn-filled">
                        <span class="material-symbols-outlined mr-2">save</span>Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function closeCreateAccountModal() {
        let el = document.getElementById("create-account-modal-content");
        el.parentNode.removeChild(el);
    }
</script>
{{ end }}