{{ define "create_account.html" }}
<div class="fixed inset-0 bg-bg-primary bg-opacity-75 overflow-y-auto h-full w-full backdrop-filter backdrop-blur-sm" id="create-account-modal-content">
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-bg-secondary">
        <h3 class="text-lg font-medium leading-6 text-text-primary mb-4">Create New Account</h3>
        <form hx-post="/accounts" hx-target="#account-list" hx-swap="innerHTML" hx-on::after-request="let el = document.getElementById('create-account-modal-content'); el.parentNode.removeChild(el);">
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-text-secondary">Name</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    required
                    class="mt-1 block w-full rounded-md border-bg-highlight shadow-sm focus:border-accent-primary focus:ring focus:ring-accent-primary focus:ring-opacity-50 bg-bg-tertiary text-text-primary"
                />
            </div>
            <div class="mb-4">
                <label for="currency" class="block text-sm font-medium text-text-secondary">Currency</label>
                <input
                    type="text"
                    name="currency"
                    id="currency"
                    required
                    class="mt-1 block w-full rounded-md border-bg-highlight shadow-sm focus:border-accent-primary focus:ring focus:ring-accent-primary focus:ring-opacity-50 bg-bg-tertiary text-text-primary"
                />
            </div>
            <div class="flex justify-end">
                <button type="button" class="btn btn-secondary mr-2" onclick="let el = document.getElementById('create-account-modal-content'); el.parentNode.removeChild(el);">Cancel</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>
{{ end }}
