{{ define "create_ledger.html" }}
<div class="md-dialog-container active" id="create-ledger-modal-content">
    <div class="md-dialog">
        <div class="md-dialog-title">
            Create New Ledger
        </div>
        <div class="md-dialog-content">
            <form hx-post="/accounts/{{ .ID }}/ledgers" hx-on::after-request="closeCreateLedgerModal()">
                <div class="md-text-field md-text-field-outlined mb-4">
                    <input
                        type="date"
                        name="date"
                        id="date"
                        required
                        value="{{ now.Format "2006-01-02" }}"
                        placeholder=" "
                    />
                    <label for="date">Date</label>
                </div>
                
                <div class="md-text-field md-text-field-outlined mb-4">
                    <select
                        name="type"
                        id="type"
                        required
                    >
                        <option value="balance">Balance</option>
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                        <option value="transfer">Transfer</option>
                    </select>
                    <label for="type">Type</label>
                </div>
                
                <div class="md-text-field md-text-field-outlined mb-4">
                    <input
                        type="number"
                        step="1"
                        name="amount"
                        id="amount"
                        required
                        placeholder=" "
                    />
                    <label for="amount">Amount</label>
                </div>
                
                <div class="md-text-field md-text-field-outlined mb-4">
                    <textarea
                        name="note"
                        id="note"
                        rows="3"
                        placeholder=" "
                    ></textarea>
                    <label for="note">Note</label>
                </div>
                
                <div class="md-dialog-actions">
                    <button type="button" class="md-btn md-btn-text" onclick="closeCreateLedgerModal()">Cancel</button>
                    <button type="submit" class="md-btn md-btn-filled">
                        <span class="material-symbols-outlined mr-2">add</span>Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function closeCreateLedgerModal() {
        let el = document.getElementById('create-ledger-modal-content');
        el.parentNode.removeChild(el);
    }
</script>
{{ end }}