{{ define "dashboard.html" }}
<div class="flex flex-col md:flex-row -mx-4">
    <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-bold text-text-primary">Account List</h1>
            <button hx-get="/accounts/new" hx-target="body" hx-swap="beforeend" class="btn btn-primary">Create New Account</button>
        </div>
        <div id="account-list" hx-get="/api/accounts" hx-trigger="load"></div>
    </div>
    <div class="w-full md:w-1/2 px-4">
        <div id="account-details"></div>
    </div>
</div>
{{ end }}
