{{ define "ledger_list.html" }}
<table class="w-full bg-bg-secondary shadow-md rounded-lg overflow-hidden">
    <thead class="bg-bg-tertiary">
        <tr>
            <th class="px-4 py-2 text-left text-text-primary">Date</th>
            <th class="px-4 py-2 text-left sm:table-cell text-text-primary">Type</th>
            <th class="px-4 py-2 text-left md:table-cell text-text-primary">Amount</th>
            <th class="px-4 py-2 text-left text-text-primary">Note</th>
        </tr>
    </thead>
    <tbody>
        <div id="ledger-details-modal"></div>
        {{ range .Ledgers }}
        <tr id="ledger-{{ .ID }}" class="hover:bg-tertiary" hx-get="/page/ledgers/{{ .ID }}" hx-target="#ledger-details-modal" hx-swap="innerHTML">
            {{ template "ledger.html" . }}
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
