{{ define "ledger.html" }}
<td class="py-3 body-large">{{ .Date.Format "01-02" }}</td>
<td>
    <div class="md-chip {{ if eq .Type "balance" }}bg-accent-tertiary text-text-highlight{{ else if eq .Type "income" }}bg-success text-bg-primary{{ else if eq .Type "expense" }}bg-error text-text-highlight{{ else }}bg-bg-tertiary text-text-primary{{ end }}">
        {{ .Type }}
    </div>
</td>
<td class="font-medium {{ if .IsVoided }}line-through{{ end }}">
    {{ dollar .Currency .Amount }}
</td>
<td>
    {{ if .IsVoided }}
    <div class="flex items-center">
        <span class="material-symbols-outlined text-error mr-1" style="font-size: 16px;">warning</span>
        <span class="text-error">[Voided]</span>
    </div>
    {{ else }} 
    <span class="text-text-secondary">{{ shorten .Note }}</span> 
    {{ end }}
</td>
<td>
    {{ if .Category }}
    <span class="md-chip bg-bg-tertiary text-text-primary">{{ .Category }}</span>
    {{ else }}
    <span class="text-text-secondary">-</span>
    {{ end }}
</td>
{{ end }}