{{ define "login" }}
<div class="flex items-center justify-center min-h-screen bg-bg-primary">
    <div class="bg-bg-secondary p-8 rounded-lg shadow-md w-full max-w-md">
        <h1 class="text-2xl font-bold mb-6 text-center text-text-primary">Login to Bookly</h1>
        <form hx-post="/login" hx-target="#message">
            <div class="mb-4">
                <label for="username" class="block text-text-secondary text-sm font-bold mb-2">Username</label>
                <input type="text" id="username" name="username" class="shadow appearance-none border rounded w-full py-2 px-3 bg-bg-tertiary text-text-primary leading-tight focus:outline-none focus:shadow-outline" required />
            </div>
            <div class="mb-6">
                <label for="password" class="block text-text-secondary text-sm font-bold mb-2">Password</label>
                <input type="password" id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 bg-bg-tertiary text-text-primary leading-tight focus:outline-none focus:shadow-outline" required />
            </div>
            <div class="flex items-center justify-between">
                <button class="btn btn-primary w-full" type="submit">Sign In</button>
            </div>
        </form>
        <div id="message" class="mt-4 text-center text-error"></div>
    </div>
</div>
{{ end }}
